
<!--<form [formGroup]="angForm">-->
  <!--<label>-->
    <!--Date Time:-->
    <!--<input [owlDateTimeTrigger]="dt"-->
           <!--[owlDateTime]="dt"-->
           <!--[formControlName]="insertDate">-->
    <!--<owl-date-time #dt>-->
    <!--</owl-date-time>-->
  <!--</label>-->
  <!--<br/>-->
  <!--<label>-->
    <!--Email:-->
    <!--<input type="text"-->
           <!--name="email"-->
           <!--placeholder="email"-->
           <!--formControlName="email"-->
           <!--#email>-->
  <!--</label>-->
  <!--<br/>-->
  <!--<label>-->
    <!--Password:-->
    <!--<input type="password"-->
           <!--name="pwd"-->
           <!--placeholder="password"-->
           <!--formControlName="password"-->
           <!--#password>-->
  <!--</label>-->

  <!--<br/>-->
  <!--<input type="submit" value="submit" (click)="onClickSubmit(email.value, password.value)">-->
<!--</form>-->
<!--<app-reacttive-form></app-reacttive-form>-->
<app-user></app-user>
