<!--main app container-->
<div class="card m-3">
  <h5 class="card-header">TIME ZONE CHECK</h5>
  <div class="card-body">
    <form [formGroup]="zoneForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-3">
          <label>Last Name</label>
          <input type="text"
                 formControlName="name"
                 class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
          <div *ngIf="submitted && f.firstName.errors"
               class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
          </div>
        </div>
        <div class="form-group col-3">
          <label>Email</label>
          <input type="text"
                 formControlName="email"
                 class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
          <div *ngIf="submitted && f.email.errors"
               class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
        <div class="form-group col-3">
          <label>Created Date Time:</label>

            <input [owlDateTimeTrigger]="cd"
                   class="form-control"
                   [owlDateTime]="cd"
                   formControlName="createdDate">
            <owl-date-time #cd>
            </owl-date-time>
        </div>
        <div class="form-group col-3">
          <label>Date Of Birth:</label>

          <input [owlDateTimeTrigger]="dob"
                 class="form-control"
                 [owlDateTime]="dob"
                 formControlName="dateOfBirth">
          <owl-date-time #dob>
          </owl-date-time>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-1">ADD USER</button>
        <button class="btn btn-secondary"
                type="reset"
                (click)="onReset()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
